h1{
	text-align: center;
	font-size: 70px;
}

/*body{

	background-image: url("/static/images/background.jpg");
	background-size: 1500px;
    background-repeat: no-repeat;
    
}*/
.white-color{
	color: white;
}

.center{
	text-align: center;
}
.error{
	color: red;
}
body{
	background-image: url("/static/images/background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;

	background-attachment: fixed;
	
}
.bgOver{

	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	background-size: 100% 100%;
	background-attachment: fixed;
	
}
.transbox{
	margin: 30px;
	padding: 20px;
	background-color: rgba(255,255,255, 0.5);
	border: 1px solid black;
	font-weight: bold;
    color: #000;
}

#header{
	margin:0px;
}

